@media (max-width:767px){
    /* 최대 화면너비가 767픽셀 이하인경우 */
       /* common */
html{
    font-size:16px;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1.5;
}
.innerFrame{
    border:1px solid blue;
    width:93%;
    margin:0 auto;
}
main>div{padding:55px 0;}
.f_en_bold{font-family:"투썸굵은체",sans-serif;}
.f_en_lighter{font-family:"투썸얇은체",sans-serif;}
.step{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:16px 0;
}
.step>dt{margin-right:8px;}
.step>dd{
    font-size:0;
    margin:0 5px;
    width:14px;
    height:14px;
    background:#D6D6D6;
    border-radius: 50%;
}
.step>dd.active{
    background:#D50037;
}
.titStyle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 14px;
}

/* point color */
.pcrf1{color: #f05329!important;}
.pcrf2{color:#4388BC!important;}

/* layout */
header{
    height:60px;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding:0 3%;
    box-sizing: border-box;
    overflow: hidden;
    background:#fff;
    transition:all 0.7s ease 0s;
    z-index: 1000;
}
header>nav.innerFrame{
    display:none;
}

header>*{
    flex-shrink: 0;
}
.logo{
    border:1px solid red;
    width:33%;
    height:100%;
    display:flex;
    align-items: center;
}
.logo>h1{}
.logo>h1>a{display:block;}
.logo>h1>a img{width:100%;}
.lnb{
    border:1px solid red;
    /* width:20%; */
    height:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.chEn{
    border:1px solid #000;
    padding:3px 13px;
    border-radius:40px;
    margin-right:10px;
}
main{
    padding-top:60px;
}
.sitePath{
    display:none;
}
.con_des1>.innerFrame{
   
}
.con_des1>.innerFrame>section{
    border:1px solid blue;
}
.txtFrame{
    box-sizing: border-box;
    background:url("../img/img_p_coffeestory.jpg") no-repeat 50% 80px;
    background-size:auto 500px;
}
.txtFrame h2{
    font-size:30px;
    font-weight:bold;
    margin-bottom:500px;
}
.txtFrame h3{
    font-size: 26px;
    margin-bottom: 50px;
}
.txtFrame h3 br{display:none;}
.txtFrame h3+p{
    font-size:25px;
    font-weight:bold;
    margin-bottom:60px;
}

.imgFrame{
    display:none;
    /* align-self: flex-end; */
}

.con_li3>.innerFrame>ul{
    
    /* display: flex; */
}
.con_li3>.innerFrame>ul>li{
    border:1px solid #D6D6D6;
    margin-bottom:30px;
}
.con_li3>.innerFrame>ul>li:last-of-type{
    margin-bottom:0;
}
.li_tit{
    border-bottom:1px solid #D6D6D6;
    text-align: center;
    padding:40px 0;
    text-transform: uppercase;
}
.li_tit p{
    color:#53575A;
    font-size:0.8rem;
}
.li_des{
    
    padding:44px 33px;
    text-align: center;
}
.li_des h4{
    font-weight: bold;
    margin-bottom:13px;
}
.li_des p{
    font-size:0.8rem;
}
.li_des h4+p{
    margin-bottom:40px;
}
.li_des ul{
   
    margin-bottom:20px;
}
.li_des ul>li{
    margin-bottom:20px;
}
.li_des ul>li:last-of-type{margin-bottom:0;}
.li_des ul>li:before{
    content:"✔";
    color:#D50037;
    margin-right:7px;
}
.con_li4 ul{
    /* display:flex; */
}
.con_li4 ul>li{
    margin-bottom:30px;
    /* flex-basis:0%;
    flex-shrink: 1;
    flex-grow: 1; */
}
.con_li4 ul>li:last-of-type{
    margin-bottom:0;
}
.con_li4 ul>li>figure{
    position:relative;
    line-height: 0;
    margin-bottom:28px;
    overflow: hidden;
}
.con_li4 ul>li>figure figcaption{
    position:absolute;
    left:0;
    top:7px;
    padding:5px 8px;
    background:#000;
    color:#fff;
    line-height: 1.5;
}
.con_li4 ul>li h3{
    font-weight:bold;
    margin-bottom:12px;
    font-size:22px;
}
.con_li4 ul>li h3+p{
    color:#666168;
    font-size:14px;
    margin-bottom: 30px;
}
.con_li4 ul>li h3+p+p{
    margin-bottom:20px;
    font-size:16px;
}
.con_li4 ul>li h3+p+p+p{
    color:#666168;
    font-size:14px;
}
.con_li4 ul>li img{
    transition:all 0.5s ease 0s;
}
.con_li4 ul>li:hover img{
    transform:scale(1.1);
}
/* footer */
footer{
    background: #222;
    color:#fff;
    padding:50px 0;
}
.fTop .innerFrame{
    border-bottom:1px solid #ffffff3a;
    display: flex;
    justify-content: space-between;
    padding-bottom:20px;
}
.fTop .innerFrame>section{
   
}
.fTop .innerFrame>section:nth-of-type(2){
    display:none;
}
.footList{
    font-size:22px;
    font-weight:bold;
}
.footList>li{
   
    margin-bottom:26px;
}
.footList>li:last-of-type{
    margin-bottom:0;
}
.footDl1 dt{
    margin-bottom: 15px;
}
.footDl1 dt:first-of-type+dd{
    margin-bottom:38px;
}
.footDl1 dd{
    color:rgba(255,255,255,0.45);
}
.fBot .innerFrame{
    /* border:1px solid #fff; */
    padding-top:20px;
}
.fMenu {
    font-size: 14px;
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.fMenu>li{
    margin-right:4%;
}
.footinfo{
    color:rgba(255,255,255,0.45);
}

.footDl2{
    display: flex;
    flex-wrap: wrap;
    color:rgba(255,255,255,0.45);
    font-size: 0;
    /* width:760px; */
    margin-bottom:20px;
}
.footDl2>*{
    /* display:inline-block; */
    font-size:1rem;
}

.footDl2>dt{border:1px solid red;}
.footDl2>dd{border:1px solid lime;}


.copy{color:rgba(255,255,255,0.45);}
.sns{
    /* border:1px solid #fff; */
    display:flex;
    margin-top:10px;
    /* justify-content: flex-end; */
}
.sns>li{
    /* border:1px solid red; */
    margin-right:16px;
}
/* hiddenGnb */
.hiddenGnb{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:#222;
    z-index:2000;
    color:#fff;
    display:flex;
    transform:translateX(100%);
    opacity: 0;
    transition:all 0.6s ease 0s;
}
.hiddenGnb.on{
    opacity: 1;
    transform:translateX(0%);
}

.hiddenGnb>*{
    
    flex:1;
}
.hiddenGnb>h1{
    align-self: flex-start;
    margin-top:20px;
    text-align: center;
}
.hiddenGnb>nav{
    flex:4;
    
    display:flex;
    align-items: center;
}
.hid_gnb{
    width:100%;
    position:relative;
}
.hid_gnb>li{
    
    width:50%;
    font-size:48px;
    font-weight: bold;
    margin-bottom:30px;
    
}
.hid_gnb>li>a{
    
    display: block;
    transform:translateX(70%);
    opacity: 0;
}
.hid_gnb>li:nth-of-type(1)>a{transition:all 0.6s ease 0.6s;}
.hid_gnb>li:nth-of-type(2)>a{transition:all 0.6s ease 0.7s;}
.hid_gnb>li:nth-of-type(3)>a{transition:all 0.6s ease 0.8s;}
.hid_gnb>li:nth-of-type(4)>a{transition:all 0.6s ease 0.9s;}
.hid_gnb>li:nth-of-type(5)>a{transition:all 0.6s ease 1.0s;}
.hid_gnb>li:nth-of-type(6)>a{transition:all 0.6s ease 1.1s;}


.hiddenGnb.on .hid_gnb>li>a{
    transform: translateX(0%);
    opacity: 1;
}


.hid_gnb>li:last-of-type{margin-bottom:0;}
.hid_gnb>li>ul{
    
    position:absolute;
    right:0;
    top:0;
    width:50%;
    height:100%;
    font-size:0.6em;
    /* font-weight:normal; */
    transition:all 0.3s ease 0s;
    opacity:0;
    pointer-events: none;
}
.hid_gnb>li:hover>ul{
    opacity:1;
    pointer-events: auto;
}
.hid_gnb>li>ul>li{
    
    margin-bottom:30px;
}
.hid_gnb>li>ul>li:last-of-type{margin-bottom:0;}
.hid_gnb>li>ul>li>ul{
    font-weight: normal;
    font-size:0.8em;
    padding:20px 0;
}
.hid_gnb>li>ul>li>ul>li{
    margin-bottom:20px;
}
.hid_gnb>li>ul>li>ul>li:last-of-type{margin-bottom:0;}
.hiddenGnb>section{
    align-self: flex-end;
    opacity:0.8;
    padding-bottom:70px;
}
.hiddenFootMenu{
    
    text-align: right;
    padding-right: 40px;
}
.hiddenFootMenu>li{
    margin-bottom:20px;
}
.hiddenFootMenu>li:last-of-type{margin-bottom:0;}
.hiddenFootSns{
    
    padding-right: 40px;
    display:flex;
    justify-content: flex-end;
    margin-top:40px;
}
.hiddenFootSns>li{
    
    margin-left:14px;
}
.hiddenFootSns>li:first-of-type{margin-left:0;}

.btnCloseGnb{
    position:absolute;
    right:50px;
    top:50px;
    cursor: pointer;
}

}